<launch>

       
    <!-- including launch file for visualizing in rviz -->
    <include file="$(find ebot_description)/launch/ebot_visualize.launch"/>
    
  <arg name="map_file" default="$(find ebot_nav)/maps/task2_world.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- including launch file for localization using AMCL -->
    <include file="$(find ebot_nav)/launch/amcl.launch" />

    <!-- <include file="$(find ebot_nav)/launch/move_base_task5.launch"/> -->
   

      <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find ebot_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ebot_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ebot_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ebot_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ebot_nav)/config/trajectory_planner.yaml" command="load" />
    <rosparam file="$(find ebot_nav)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find ebot_nav)/config/dwa_local_planner_params.yaml" command="load" />


    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="0.261799"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="0.3"/>

  </node>

</launch>


